
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document< login page/>
</head>
<body>
   <form action="" method="" class="login">
        <label for="">enter username</label>
        <input type="text" name="username">
        <label for="">enter password</label>
        <input type="password" name="password">
        <button type="submit">login</button>
    </form>
</body>
</html>