<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/blogify/signuppage" method="get">
        <label>first name</label>
        <input type="text" name="firstName">
        <label>last name</label>
        <input type="text" name="lastName">
        <label>user Name</label>
        <input type="text" name="username">
        <label >email</label>
        <input type="email" name="email">
        <label >enter password</label>
        <input type="password" name="password">
        <label >confirm password</label>
        <input type="password" name="password">
        <button type="submit">sign up</button>
    </form>
</body>
</html>
