
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>your post in detail</title>
</head>
<body>
    <h3>here is your post in detail...</h3>
    <h4>@<%=found.id%></h4>
    <h4>@<%=found.username%></h4>
    <p><%=found.blog%></p>
</body>
</html>